

@font-face {
  font-family: Time, 'Times New Roman', Times, serif;
  src: url(./assets/Time.woff2);
}

body {
  background-color: #2C231B;
  color: #FFEECC;
  font-family: Time, 'Times New Roman', Times, serif;
  font-size: 24px;
  line-height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  padding: 16px;
}

a {
  color: #FFEECC;
  transition: color 0.2s ease-out;
}

a:hover {
  color: #FFC24D;
}

content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 590px;
}

.links {
  display: flex;
  gap: 24px;
  font-size: 18px;
  line-height: 24px;
}

@media screen and (max-width: 600px) {
  body {
    font-size: 20px;
    line-height: 28px;
    height: 100%;
  }

  .links {
    font-size: 15px;
    line-height: 20px;
    gap: 16px;
    flex-wrap: wrap;
  }
}

